ams/src/CommonTemplates/ДрайверАТОЛККТ54ФЗ107X_ru/Template.addin
ams/src/CommonTemplates/ДрайверАТОЛККТ54ФЗ10XФФД12X_ru/Template.addin
ams/src/CommonTemplates/ДрайверАТОЛККТ54ФЗ10XФФД12_ru/Template.addin
ams/src/CommonTemplates/ДрайверМассаКЭлектронныеВесыИСПечатьюЭтикеток_ru/Template.addin
ams/src/Configuration/ParentConfigurations/УправлениеТорговлей.cf
*.dll
*.so
*.log
*.tmp
*.prm
/build/
/out/
.settings/
.bin/
.project
.classpath
*.user
*.1CD